<div>
  <form action="/event/new/create" method="POST">
    <label class="label">Event name</label>
    <input type="text" name="event[name]">
    <br>
    <label class="label">Location</label>
    <input type="text" name="event[location]">
    <br>
    <label class="label">Event start time</label>
    <input type="text" name="event[starts_at]">
    <br>
    <label class="label">Event end time</label>
    <input type="text" name="event[ends_at]">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>