<div>
  <h1><%= @event.name %></h1>
  <br>
  <p><%= @event.location %><p>
  <br>
  <p><%= @user.first_name %>
  <span>&nbsp</span>
  <%= @user.last_name %><p>
  <p><a href="/event/delete/<%  %>"></a></p>


</div>